<main *ngIf="isLoaded; else loading">

    <div *ngIf="coaches; else noCoaches" class="coaches">
        <h1>Choose between the <strong>best</strong> coaches in the world!</h1>

        <ul>
            <li *ngFor="let coach of coaches">
                <h3>{{ coach.firstName }} {{ coach.lastName }}</h3>
                <p>{{ coach.description }}</p>
                <a routerLink="/coaches/{{coach.id}}">Learn More</a>
                <div class="price-info">
                    <p><strong>{{ coach.price }}$/month</strong></p>
                    <button class="btn">Hire</button>
                </div>
            </li>
        </ul>
    </div>

    <ng-template #noCoaches>
        <h2>No coaches are available at the moment.</h2>
    </ng-template>
</main>

<ng-template #loading>
    <h2 class="loader">Loading...</h2>
</ng-template>